body {
    font-family: Arial, sans-serif;
    background-color: #dd3d3d;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #234019;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
    color: white;
}